<strong>Olá, {{ deliveryman }}</strong>
<p>Uma das suas entregas foi cancelada, confira abaixo:</p>
<p>
  <strong>Código da entrega:</strong> {{ delivery_id }} <br />
  <strong>Endereço de entrega:</strong> {{ street }}, número {{ number }}, {{ complement }}<br/>
  <strong>Cidade: </strong>{{ city }} - {{ state }} / {{ cep }} <br />
  <strong>Razão do cancelamento: </strong>{{{ problem }}}
</p>
