<strong>Olá, {{ deliveryman }}</strong>
<p>Você possui uma nova entrega para realizar, confira abaixo:</p>
<p>
  <strong>Código da entrega:</strong> {{ delivery_id }} <br />
  <strong>Endereço de entrega:</strong> {{ street }}, número {{ number }}, {{ complement }}<br/>
  <strong>Cidade: </strong>{{ city }} - {{ state }} / {{ cep }}
</p>
